* {
	margin: 0;
	background-color: pink;
}


.body{
	margin-top: 30px;
	padding: 100px;


}
.body a{
	text-decoration: none;
}
.body h1, h2{
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	color: black;
}
.body h1:hover, h2:hover{
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	transition: 0.5s;
}
.img img{
	width: 500px;
	height:500px;
        border:2px solid black;
        border-radius: 250px;
}
.img p{
	text-align: center;

}


@media screen and (max-width: 425px) {
    .img p{
    	text-align: center;
    	
    }
}
@media screen and (max-width: 767px) {
	
}
