*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*Reset Css*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, summary, time, mark, audio, video, button, content {
	margin: 0;
	padding: 0;
	border: 0;
	zoom: 1;
}
button{
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
button:focus {
  outline: none;
}
a{
	cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: transparent;
}
li{
  list-style: none;
}

/*Container*/

.container{
  max-width: 1200px;
  margin: 0 auto !important;
  padding-left: 15px;
  padding-right: 15px;
}

/*OverAll*/
body{
  font-family: sans-serif;
}

/*Header*/

.header, .footer{
  background-color:#696969;
  border-style:solid;
  border-color:#524b4b;
  border-width:2px;;
}

.header__wrapper{
  padding: 30px 0px;
}

.header__nav ul{
  display: flex;

}

.header__nav li:hover{
  color: rgba(1,1,1,0.5);
}

.header__nav li{
  color: white;
  margin: 0px 10px;
  transition: color 0.2s;
}

/*Info*/

.info{
  background-image: url("image/bc.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0px;
}

.info__wrapper{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px 20px;
  box-shadow: rgba(1,1,1,0.5) 0px 0px 20px 15px;
}

.info__blocks{
  margin-top: 50px;
}

.info__block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
}

.info__block+.info__block{
  margin-top: 20px;
}

.info__title{
  font-size: 1.8em;
  text-align: center;
}

.block__img img{
  width: 205%;
  height: 600;
  display: flex;
}

.block__text span{
  font-size: 1.5em;
  font-weight: bold;
}

/*Footer*/

.footer__wrapper{
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.footer__logo img{
  max-width: 120px;
  width: 100%;
}

.footer__caption{
  text-align: center;
}

.footer__text{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.footer__text p+p{
  margin-top: 5px;
}

.footer__text a{
  color: white;
  transition: color 0.2s;
}
.footer__text a:hover{
  color: rgba(1,1,1,0.5);
}